/crops_db/
/pipeline_output.log
/datasetchiavi/
/runs/
/features_db/
/datasetRemote/
/datasetGlasses/
/datasetGenerale/
/yolov8l-world.pt
/yolomodels/
/database_export.json
/detections.db
/video/
/SriptTrain/yolov8n.pt
/datasetwallet/
/yolov8s-world.pt
/yolov8x-world.pt
/Class_per_generale.txt
/SriptTrain/yolov8l.pt
/computer vision.code-workspace
/datasetpenne/
/SriptTrain/yolo11n.pt
/MotionBlurRemoval.py
/datasetWatches/
/detection_mapping.json
/retrain_log_20251104_121434.txt
/Scriptino per presentazione.py
/ScriptTrainPriority.py
/training_log_20251104_114626.txt
/training_log_20251104_120307.txt
/yolo11n.pt
/yolov8n.pt
/PC_course_project_template.pdf
